.alert {
    display: inline-block;
    position: fixed;
    top: auto;
    right: auto;
    left: 0;
    bottom: 0;
    z-index: 99999;
    margin: 1.5rem;
    margin-top: 0;
    opacity: 0;
    transform: translateY(100px);
    animation-name: fadeIn;
    animation-duration: 7s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.42, 0, .58, 1);
    max-width: 100%;
}

.alert button {
    margin-left: 1.5rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    10.71% {
        opacity: 1;
        transform: translateY(0);
    }

    97.86% {
        opacity: 1;
        transform: translateY(0);
    }

    99.99% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        display: none;
    }


}
