.breadcrumb-container {
    background-color: darken(#1e3e71, 5%);

    .breadcrumb-row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        color: rgba(255, 255, 255, 0.8);

        .breadcrumb {
            font-size: 1rem;
            background-color: inherit;
            margin-bottom: 0;

            .breadcrumb-item {
                a {
                    color: rgba(255, 255, 255, 0.6);
                }
                &.active {
                    color: rgba(255, 255, 255, 0.4);
                }
                &::before {
                    color: rgba(255, 255, 255, 0.6);
                }
            }
        }
    }
}
