.btn {
    border-radius: 2px;
}

.btn-lg {
    font-size: 1rem;
}

.btn-primary {
  color: #fff;
  background-color: #1e3e71;
  border-color: #1e3e71;
}

.btn-primary:hover {
  color: #fff;
  background-color: lighten(#1e3e71, 10%);
  border-color: lighten(#1e3e71, 10%);
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: lighten(#1e3e71, 10%);
  border-color: lighten(#1e3e71, 10%);
}

.btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: lighten(#1e3e71, 10%);
  border-color: lighten(#1e3e71, 10%);
  background-image: none;
}
