.dash-sb-container {
    width: 260px;
    background-color: #1e3e71;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    height: 100vh;
    overflow-y: auto;

    hr {
        background-color: rgba(255,255,255,0.2);
        margin: 30px auto;
    }

    .dash-sb-logo {
        margin-top: 30px;
        height: 80px;
        width: 80px;
        margin-right: auto;
        margin-left: auto;
    }

    .dash-sb-list {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;

        .dash-sb-item {
            margin: 10px 0;
            border-radius: 2px;
            font-size: 12px;

            &:hover {
                background-color: rgba(255,255,255, 0.1);
            }

            &.active {
                background-color: rgba(255,255,255, 0.2) !important;
            }

            .dash-sb-link {
                padding: 12px 20px;
                text-transform: uppercase;
                color: rgba(255,255,255, 0.8) !important;
                display: block;
                text-decoration: none !important;
            }
        }
    }
}

.dash-container {
    width: calc(100% - 260px);
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    height: 100vh;
    overflow-y: auto;

    .dash-content {
        min-height: calc(100vh - 120px);
    }

    .dash-navbar-container {
        height: 60px;
        background-color: #fff;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        .dash-navbar {
            .dash-navbar-item {
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .dash-footer {
        height: 60px;
        background-color: #fff;

        .dash-footer-list {
            margin-bottom: 0;
            padding-left: 0;
            list-style: none;

            .dash-footer-item {

                .dash-footer-link {

                }
            }
        }
    }
}
