.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    &.flex-col {
        flex-direction: column;

        &.flex-rev {
            flex-direction: column-reverse;
        }
    }

    &.flex-rev {
        flex-direction: row-reverse;
    }

    &.flex-r {
        justify-content: flex-end;
        align-items: center;
    }

    &.flex-l {
        justify-content: flex-start;
        align-items: center;
    }

    &.flex-left {
        justify-content: center;
        align-items: flex-start;
    }
}
