footer {
    background-color: #1B202A;
    padding-top: 58px;

    h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }

    a, p, li {
        color: #5D636F !important;
    }


    a {
        &:hover {
            color: lighten(#5D636F, 20%) !important;
        }

        &.arrow {
            &::before {
                content: '\f105';
                font-family: FontAwesome;
                margin-right: 10px;
                display:inline-block;
                text-decoration: none !important;
            }
        }
    }

    hr {
        background-color: #31353E;
    }

    ul {
        list-style: none;
        padding: 0;

        &.arrow {
            li {
                a {
                    // display: inline-block;
                    // width: 100%;

                    &::before {
                        content: '\f105';
                        font-family: FontAwesome;
                        margin-right: 10px;
                        display:inline-block;
                        text-decoration: none !important;
                    }
                }
            }
        }

        li {
            padding-bottom: 10px;

            &:last-child {
                padding-bottom: 0;
            }

            i {
                color: #fff;
                margin-right: 10px;
            }
        }
    }
}
