html {
    font-size: 14px;
}

body {
    font-family: Roboto;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: bold;
}

p, li {
    color: #898989;
}

.form-control {
    border-radius: 2px;
    padding: 12px 16px;
}

*:focus {
    outline: 0 !important;
}

a.clean {
    color: inherit !important;
    text-decoration: none !important;
}

.page-item {
    &.active {
        .page-link {
            &:hover {
                background-color: lighten(#1e3e71, 10%);
                border-color: lighten(#1e3e71, 10%);
            }
            background-color: #1e3e71;
            border-color: #1e3e71;
        }
    }

    .page-link {
        color: #1e3e71
    }
}

.card {
    .post_list {
        margin-top: 1.5rem;
        list-style: none;
        padding-left: 2rem;
        margin-bottom: 1.5rem;

        li {
            margin-bottom: 1rem;
            transition: all 0.3s;

            &:hover {
                color: #000;
                text-decoration: underline;
                list-style: disc;
            }

            a {
                display: inline-block;
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
}

.label-primary {
    background-color: #1e3e71;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
