.miembro-container {
    padding: 100px 0;

    .title {
        padding-bottom: 40px;
    }

    .miembro-list {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .miembro-item {
            display: flex;
            margin-top: 20px;
            border: 1px solid rgba(0,0,0,0.125);
            width: 180px;
            height: 180px;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.1);
            }
            img {
                width: 140px;
            }
        }
    }
}
