.v-navbar-fixed {
    position: fixed;
    z-index: 999;
    background: #1e3e71;
    width: 100%;
    top: 0;
    transform: translate(0, -100px);
    transition: transform 0.3s;

    &.show {
        transform: translate(0, 0);
    }

    .nav-list {
        // height: 75px;
        height: 100px;

        .logo {
            // height: 60px;
            height: 80px;
        }

        a {
            margin-right: 50px;
            text-transform: uppercase;
            color: #fff;
            opacity: 0.6;
            text-decoration: none !important;

            &:hover {
                opacity: 1;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    @media (max-width: 767px) {
        .nav-list {
            .logo {
                height: 60px !important;
            }

            a {
                margin-right: 25px!important;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    @media (max-width: 543px) {
        .nav-list {
            a {
                margin-right: 10px!important;
                font-size: 12px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
