.nosotros {
    .img-poligrafia {
        background-size: cover;
        background-position: center;
        height: 460px;
    }

    .nosotros-container {
        overflow: hidden;
        background-color: #3e4349;
        height: 460px;

        h1, h2, h3, h4 ,h5, h6 {
            color: #fff;
        }
        p {
            color: rgba(255,255,255,0.8);
        }
    }

    @media (max-width: 543px) {
      .nosotros-container {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }
}
