.servicios-banner-container {
    transform: translateY(-2px);
    background-color: #eef2f5;
    padding: 30px 0;

    .s-b-list {
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;

        .s-b-l-item {
            color: #1e3e71;
            font-size: 1.3rem;
            padding-bottom: 20px;
            text-transform: uppercase;
            font-weight: bold;
            transition: all 0.3s;
            display: inline-block;
            opacity: 1;

            &:hover {
                // text-decoration: underline;
                // cursor: pointer;
                // padding-left: 20px;
                // opacity: 1;
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

.servicios {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0.90)), url(../img/efecto_veritas.svg);
    background-repeat: repeat-x;
    // background-position: center;
    background-position: center 82%;
    // background-attachment: fixed;
    background-origin: content-box;
    background-size: 35% auto;
    padding: 100px 0;

    .servicios-container {
        // height: 300px;
        padding-bottom: 50px;
    }
}

.servicios, .servicios-carousel {
    .card {
        // height: 390px;
        overflow: hidden;

        .card-img {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            padding: 0 30px;
            border-radius: 0;
            background-color: #fff;
            background-image: linear-gradient(to right, #ccc, #ddd);
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            height: 200px;
            transition: all 0.3s;

            h3 {
                color: #fff;
            }
        }

        .card-text {
            padding: 30px;
            height: 150px;
        }

        &:hover {
            .card-btn-container {
                bottom: 0;
            }

            .card-img {
                background-size: 115%;
            }
        }

        .card-btn-container {
            position: absolute;
            display: block;
            // bottom: -100px;
            bottom: 0;
            left: 0;
            right: 0;
            top: auto;
            // background: linear-gradient(to bottom, transparent, #fff 50%);
            padding: 60px 30px 20px 30px;
            transition: all 0.3s;
        }
    }
}

.section-cover {
    margin-top: 30px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.servicios-carousel {
    margin-bottom: 100px;
}

.bg-y-t {
    background-position: center top;
}

.bg-y-1 {
    background-position: center 10%;
}

.bg-y-2 {
    background-position: center 20%;
}

.bg-y-3 {
    background-position: center 30%;
}

.bg-y-4 {
    background-position: center 40%;
}

.bg-y-5 {
    background-position: center 50%;
}

.bg-y-6 {
    background-position: center 60%;
}

.bg-y-7 {
    background-position: center 70%;
}

.bg-y-8 {
    background-position: center 80%;
}

.bg-y-9 {
    background-position: center 90%;
}

.bg-y-b {
    background-position: center bottom;
}
