.slider {
    background-image: url(../template/img/banner_1.jpg);
    background-size: cover;
    background-position: center;

    .slider-container {
        height: 460px;

        h1, h2, h3, h4, h5, h6 {
            color: #fff;
            font-family: 'Roboto Slab';
            font-weight: normal;
        }

        h1, h2, h3 {
            font-weight: lighter;
        }

        h1, h2, h3, h4, h5, h6 {
            &.bkg-blue {
                background-color: #1e3e71;
                padding: 20px;
            }

            &.bkg-black {
                background-color: black;
                padding: 20px;
            }
        }

        p {
            color: #fff;
            width: 80%;
        }

        .btn-outline-secondary {
            color: #fff;
            background-image: none;
            background-color: transparent;
            border-color: #fff;

            &:hover {
                background-color: #1e3e71;
                border-color: #1e3e71;
            }
        }
    }
}

@mixin slide-item($item, $delay, $x, $y) {
    .slick-active {
        .#{$item} {
            animation-name: $item;
            animation-duration: 0.5s;
            animation-timing-function: cubic-bezier(.42, 0, .58, 1);
            animation-fill-mode: both;
            animation-delay: $delay;
        }
    }

    .#{$item} {
        opacity: 0;
        transform: translate($x, $y);
    }

    @-webkit-keyframes #{$item} {
        0% {
            opacity: 0;
            transform: translate($x, $y);
        }
        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }

    @keyframes #{$item} {
        0% {
            opacity: 0;
            transform: translate($x, $y);
        }
        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}

@include slide-item(item-1, 0.2s, -50px, 0);
@include slide-item(item-2, 0.5s, 50px, 0);
@include slide-item(item-3, 0.8s, 0, 50px);
@include slide-item(item-4, 1.1s, 0, 50px);
