.testimonios {
    background-color: #eef2f5;
    padding-bottom: 50px;

    .testimonios-container {
        height: 300px;
    }

    .testimonios-card {
        border: 1px solid #2f538a;
        padding: 60px 30px;
        font-style: italic;
        font-family: 'PT Serif', serif;
        font-size: 1.1rem;

        p {
            color: #656565;
            line-height: 2rem;
        }

        &::before {
            content: '\f10d';
            font-family: 'FontAwesome';
            font-size: 42px;
            background-color: #eef2f5;
            color: #2f538a;
            position: absolute;
            top: -36px;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            width: 42px;
            height: 42px;
            padding: 10px;
            box-sizing: content-box;
        }
    }

    .testimonios-nombre {
        color: #2f538a;
        font-weight: bolder;
        font-style: italic;
        font-family: 'PT Serif', serif;
    }
}
