@media only screen and (min-width: 1169px) {
    .container {
        padding: 0;
    }
}
@media only screen and (max-width: 1024px) {
#header .logo {
    padding: 18px 0;
    float: left;
}
.nav-footer ul.nav li a {
    padding: 0 14px;
}
.section-title-style {
   clear: both;
   overflow: hidden;
   width: 50%;
   margin: auto;
   padding-bottom: 60px;
}
.featured-service-block {
    margin-top: 0px;
}
#featured-service .col-md-3.wd-20 {
    padding: 0;
    width: 25%;
    display: none;
}
#featured-service .col-md-3.wd-28 {
    padding: 0;
    width: 33.33333333%;
}
.wd-02 {
    padding: 0;
    width: 33.33333333%;
}
.padd-01 {
    padding: 0 0 0 0;
}
.wd-28 {
    padding: 0;
    width: 33.33333333%;
}
.padd-198 {
    padding-left: 0px;
}
.padd-150 {
    padding-left: 0px;
}
.counter-count span.sm-text-2 {
    padding-top: 0;
    right: 40px;
}
.counter-count span.sm-text {
    right: 70px;
}
.product-details-tab-content .col-lg-12 {
     margin-top: 15px;
}
.padd-offset {
    padding-left: 0px;
}
.padd-offset-1 {
    padding-left: 0px;
}   
footer .footer-widget {
    margin-bottom: 50px;
}

}

@media only screen and (max-width: 992px) {


}
@media only screen and (max-width: 768px) {

.section-title-style {
    clear: both;
    overflow: hidden;
    width: 100%;
    margin: auto;
    padding-bottom: 60px;
}
#header.stricky-fixed {
    padding: 6px 0 20px;
}
#header.stricky-fixed .mainmenu-navigation .search-box {
    bottom: -82px;
}
.mainmenu-navigation .search-box {
    bottom: -93px;
}
header .logo {
    margin: 0;
    float: left;
    text-align: center;
    padding-bottom: 20px;
}
.mainmenu-navigation ul.search-wrapper li {
    float: left;
    margin: -22px 0 0 0;
}
.featured-service-block {
    margin-top: 0px;
}
.featured-service-block p {
    color: #fff;
    padding: 0 0;
}
.counter-count h1 {
    font-size: 54px;
}
.counter-count span.sm-text {
    font-size: 35px;
    top: 28px;
}
.counter-count span.sm-text-2 {
    color: #FFF;
    font-family: "Raleway",sans-serif;
    font-size: 34px;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 11px;
    right: 45px;
    position: absolute;
    top: 20px;
}
#col-features-area {
    padding: 100px 0 50px;
}
.phone-img {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.wd-02 {
    padding: 0;
    width: auto;
}
.col-feature {
    text-align: center;
}
.col-feature {
    text-align: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#aboutus::before {
    display: none;
}
#aboutus::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #3e4349;
    top: 0;
    right: 0;
    z-index: -1;
    padding-left: 100px;
}
.single-fact p {
    margin: 0;
    padding: 0;
}
#contact-area {
    width: 100%;
    background-color: #2f538a;
    padding: 22px 0 22px;
    margin-top: 50px;
    height: 100%;
}
#contact-area .img-holder img{
    display: none;
    top: 0;
    position: static;
}
.about-img{
    display: none;
}
#page-404-content .errror-wrap {
    padding: 100px 0;
    width: 100%;
    margin: auto;
    background-color: #f2f2f2;
}
#page-404-content .img-holder img{
    display: none;
}
.product-details-box .img-holder {
    margin-bottom: 30px;
    text-align: center;
}
    
.product-details-tab-title ul li span {
    margin-bottom: 15px;
}
.product-details-tab-content {
    margin-bottom: 75px;
    margin-left: 0;
    padding-right: 15px;
}
.product-details-tab-title ul li.active span {
    border-width: 4px 1px 0;
}
}


@media only screen and (max-width: 640px) {

#header .logo {
    float: left;
}
#header .logo img {
    width: 70%;
    float: left;
}
.mainmenu-navigation ul.search-wrapper {
    float: left;
    margin: 0;
    padding: 0;
    display: none;
}
.mainmenu-navigation .navigation {
    position: relative;
    z-index: 2;
    padding-left: 10px;
    margin-top: 0px;
}
#topbar .social {
    float: none;
}
#topbar .contact-info ul li {
    padding: 0;
} 
.rev_slider_wrapper #slider1 .gardener-caption-p{
    display: none;
}
.rev_slider_wrapper #slider1 .banner-btn{
    display: none;
}
#featured-service .col-md-3.wd-28 {
    padding: 0;
    width: 100%;
}
.featured-service-outer {
    padding: 50px 0 0 0;
    background-color: #2f538a;
}
.wd-28 {
    padding: 0;
    width: auto;
}       
.featured-service-block {
    padding: 45px 20px 50px 20px;
    height: 100%;
    border-right: 1px solid #1F477B;
}
.counter-count span.sm-text {
    left: 150px;
}
.counter-count span.sm-text-2 {
    left: 150px;
}
.single-fact {
    text-align: center;
    margin-bottom: 50px;
}
#aboutus {
    background: #242424;
    z-index: 1;
    padding: 50px 0 50px;
} 
#faq .general-question .panel-group .panel-default .panel-title {
    font-size: 11px;
}
.general-question .panel-group .panel-default .panel-title a.collapsed::after {
    content: "\f107";
    font-family: fontawesome;
    background: #1d72c9 none repeat scroll 0 0;
    border-left: 1px solid #e9e9e9;
    color: #FFF;
    font-size: 24px;
    padding: 8px 15px;
    position: absolute;
    right: -15px;
    top: -15px;
}
#blog {
    padding: 94px 0 0;
    background-color: #FFF;
}
.create-by {
    float: none;
}
.create-by p {
    text-align: center;
}
.copyright {
    float: none;
    text-align: center;
}
#contact-page .section-title-style p {
    width: 100%;
}
}


@media only screen and (max-width: 480px) {

#header .logo {
    float: left;
}
#header .logo img {
    width: 70%;
    float: left;
}
#header.stricky-fixed .logo img{
    width: 70%;
    float: left;
}

.mainmenu-navigation ul.search-wrapper {
    float: left;
    margin: 0;
    padding: 0;
    display: none;
}
#faq .general-question .panel-group .panel-default .panel-title {
    font-size: 11px;
    padding-right: 40px;
    line-height: 20px;
}
.general-question .panel-group .panel-default .panel-title a.collapsed::after {
    content: "\f107";
    font-family: fontawesome;
    background: #1d72c9 none repeat scroll 0 0;
    border-left: 1px solid #e9e9e9;
    color: #FFF;
    font-size: 24px;
    padding: 25px 15px;
    position: absolute;
    right: -55px;
    top: -15px;
    float: right;
    margin-left: -57px;
}
#header.stricky-fixed .mainmenu-navigation .navigation {
    margin-top: -55px;
}
.mainmenu-navigation .navigation {
    width: 0%;
    padding-right: 0px;
    margin-top: -65px;
}
.mainmenu-navigation .navigation {
    width:  100% !important;
}
.mainmenu-navigation .navigation > .nav-footer {
    width: 100vw !important;
}
.mainmenu-navigation .navigation > .nav-footer ul > li > .sub-menu {
    padding-left: 10px !important;
     padding-right: 10px !important;
}
.mainmenu-navigation .navigation > .nav-footer ul > li:hover .sub-menu ul li .sub-menu, .mainmenu-navigation .navigation > .nav-footer ul > li .sub-menu ul li .sub-menu {
    padding: 20px 0 !important;
}
.mainmenu-navigation .navigation .nav-footer {
    height: 85vh !important;
    }

}

@media only screen and (max-width: 360px) {
#header {
   
    height: 80px;
}
#header.stricky-fixed .logo {
    padding: 18px 0 0;
    float: left;
}
.mainmenu-navigation ul.search-wrapper {
    float: left;
    margin: 0;
    padding: 0;
    display: none;
}
.mainmenu-navigation .navigation {
    width: 0%;
    padding-right: 0px;
    margin-top: -15px;
}
#header.stricky-fixed .mainmenu-navigation .navigation {
    margin-top: 0px;
}
.mainmenu-navigation .navigation > .nav-footer {
    position: absolute;
    top: 2% !important;
    left: 0;
    width: 100% !important;
    margin-top: 22px;
    background-color: #f2f6f7;
}
    .mainmenu-navigation .navigation .nav-header button {
    width: 40px;
    height: 40px;
    background: #000;
    border: 1px solid #000;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    float: right;
    top: -50px;
    position: relative;
}
    .mainmenu-navigation .navigation {
    width: 100% !important;
}
  
}
@media only screen and (max-width: 320px) {

#header .logo img {
    width: 70%;
    float: left;
}
#header.stricky-fixed .mainmenu-navigation .navigation {
    position: relative;
    z-index: 2;
    padding-left: 10px;
    margin-top: 3px;
}
.mainmenu-navigation .navigation {
    position: relative;
    z-index: 2;
    padding-left: 10px;
    margin-top: -17px;
}
.mainmenu-navigation {
    margin-top: -26px;
    margin-bottom: -30px;
    position: relative;
    z-index: 9999;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
#header.stricky-fixed .logo img {
  width: 70%;
  float: left;
}
#page-404-content h1 {
    text-align: center;
    font-size: 75px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}
}


/* mainmenu responsive styles */

@media (max-width: 768px) {
    .mainmenu-navigation .container {
        padding: 0 !important;
    }
    .mainmenu-navigation .navigation {
        width: 50%;
    }
    .mainmenu-navigation .navigation > .nav-footer ul > li.active > a, .mainmenu-navigation .navigation > .nav-footer ul > li:hover > a {
    color: #000;
}
    .mainmenu-navigation .navigation .nav-header {
        display: block;
    }
    .mainmenu-navigation .navigation .nav-footer {
        display: none;
        height: 250px;
        overflow: hidden;
        overflow-y: visible;
    }
    .mainmenu-navigation .navigation > .nav-footer ul > li {
        float: none;
        padding: 5px;
        padding-bottom: 0;
        display: block;
    }
    .mainmenu-navigation .navigation > .nav-footer {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100% !important;
        margin-top: 22px;
        background-color: #f2f6f7;
    }
    .mainmenu-navigation .navigation > .nav-footer ul > li > .sub-menu {
        position: relative !important;
        opacity: 1 !important;
        visibility: visible !important;
        top: auto !important;
        left: auto !important;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        width: 100%;
        display: none;
        transition: none;
    }
    .mainmenu-navigation .navigation > .nav-footer ul > li:hover .sub-menu ul li .sub-menu,
    .mainmenu-navigation .navigation > .nav-footer ul > li .sub-menu ul li .sub-menu {
        padding-top: 20px;
        padding-left: 0px;
        padding-bottom: 20px;
        display: none;
        transition: none;
        padding-right: 20px;
        width: 100%;
    }
    .mainmenu-navigation .navigation > .nav-footer ul > li:hover .sub-menu ul li .sub-menu::before {
        content: "";
        height: 13px;
        left: 45px;
        position: absolute;
        top: 10px;
        width: 28px;
        transform: rotate(0);
    }
    .nav-footer ul.nav {
        padding-bottom: 5px;
    }
    .nav-footer ul.nav > li > a {
      border: 1px dashed #bebebe !important;
      color: #000;
      display: block;
      font-family: "Roboto Slab",sans-serif;
      font-size: 15px;
      font-weight: bold;
      line-height: 29px;
      padding: 10px 25px;
      text-transform: uppercase;
    }
    .nav-footer ul.nav > li:hover > a {
        background: #FFF;
        color: #000 !important;
    }
    .nav-footer ul.nav li.dropdown > a {
        position: relative;
    }
    .nav-footer ul.nav li.dropdown > a > button {
        display: block;
        position: absolute;
        top: 9px;
        right: 15px;
        background: #1d72c9 none repeat scroll 0 0;
        border: 1px solid #c4cab3;
        border-radius: 50px;
        color: #fff;
        font-size: 16px;
        height: 30px;
        outline: medium none;
        width: 30px;
        padding: 0;
        text-align: center;
        line-height: 15px;
    }
}